:root {
  --font-family: Helvetica, Arial, sans-serif;
  --standard-padding: 1rem;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
}

/* Styling the header */
.header {
  text-align: center;
  padding: 10px;
  background-color: #bcdcf1;
  color: #fff;
}

/* Styling the widget container */
.Widget-Container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #4b4747;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* Styling the city select dropdown */
.placeDropDown {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

/* Styling Weather Info Divs */
.Location {
  text-align: center;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.Weather {
  text-align: center;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.temp {
  text-align: center;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.date {
  text-align: center;
  margin-bottom: 10px;
  padding: 10px;
  color: #f0f0f0;
}

.localTime {
  text-align: center;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 24px;
  color: #f0f0f0;
}